.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  width: 50px;
  margin: 0 10px;
}

.button {
  margin-left: 10px;
}
